body {
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic Porn", Meiryo, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  text-decoration: none;
}

.header {
  height: 100px;
  width: 100%;
  background-color: blue;
  padding-top: 15px;
}

.header .logo {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.header .global-nav {
  margin-top: 15px;
  text-align: center;
}

.header .global-nav ul {
  display: flex;
  justify-content: space-between;
}

.header .global-nav ul .nav-item {
  background-color: skyblue;
}

.header .global-nav ul .nav-item a {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
  color: azure;
  font-size: 1.3rem;
}

.wrapper {
  max-width: 970px;
  margin: 30px auto 40px;
  background-color: skyblue;
  display: flex;
  justify-content: space-between;
}

.wrapper .main {
  height: 500px;
  width: 600px;
  margin-right: 35px;
  background-color: green;
}

.wrapper .side_menu {
  height: 500px;
  width: 275px;
  background-color: red;
}

.footer {
  font-size: 1.2rem;
  text-align: center;
  padding: 12px 0;
  width: 100%;
  background-color: gray;
}
